__pycache__
config.ini
config/.env

# Python build / install artifacts (pip install ., setup.py build)
build/
dist/
*.egg-info/
src/*.egg-info/
*.egg
*.whl

# Debian packaging build artifacts (dpkg-buildpackage / debhelper / pybuild)
.pybuild/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper
debian/*.debhelper.log
debian/hpc-eff/
