[SYSTEM]
SCORENAME=SPEC2017
SCORE=3.8
POWERREADINGCMD=ipmitool dcmi power reading
DEBUG=yes

[API]
USER_AGENT=UserAgentString
API_KEY=XXX

[logging]
db_path = /var/lib/hpc_eff/history.db
log_level = INFO
